<section id="news-detail" class="app-container">
  <nav>
    <button class="btn" routerLink="/portal/noticias">
      <i class="iconify" data-icon="mingcute:left-line"></i>
      Voltar
    </button>

    <article></article>
  </nav>

  <section>
    <article>
      <img [src]="news.bannerURL" [alt]="news.title" />
      <p>{{ news.authorName }}</p>
      <p>
        {{ news.creationDate | date : "dd/MM/yyyy" }} -
        <a>{{ getCategory(news.category) }}</a>
      </p>
    </article>

    <div>
      <h2>{{ news.title }}</h2>
      <p [innerHTML]="news.contentHTML"></p>

      <h4>Patrocinadores</h4>
      <portal-partner-list [data]="partners" />

      @if (!!galleryImages.length) {
      <h4>Galeria</h4>
      <portal-gallery [data]="galleryImages" />
      }
    </div>
  </section>
</section>
