@import "variables";

#portal-header {
  @apply w-full fixed top-0 left-0 z-10 flex items-center transition-all duration-500;
  height: $portal-header-height;
  background: $backdrop;
  color: $white;

  opacity: 0.5;

  &:hover,
  &.active {
    opacity: 1;
    backdrop-filter: blur(6px);
  }

  > section {
    @apply py-0 h-full flex items-center justify-between;

    > img {
      @apply cursor-pointer h-16;
    }

    > article {
      @apply flex gap-6 items-center;

      > a {
        @apply tablet:hidden;

        &:hover {
          @apply underline transition-all duration-300;
          transform: scale(0.94);
        }
      }

      > button,
      > portal-user-menu,
      > app-theme-selection {
        @apply tablet:hidden;
      }

      #side-menu-button {
        @apply hidden tablet:flex;
      }
    }
  }
}
