<header id="portal-header" [class.active]="isScrolled">
  <section class="app-container">
    <img
      src="/assets/images/logo-white.png"
      alt="Instituto Apocalipse"
      [routerLink]="['/']"
    />

    <article>
      @for (item of items; track $index) {
      <a [routerLink]="[item.route]">{{ item.title }}</a>
      }

      <!-- user -->
      @if(!authStore.isLogged()) {
      <button mat-button color="primary" (click)="openModalLogin()">
        Entrar
      </button>
      } @else {
      <portal-user-menu />
      }

      <button id="side-menu-button" (click)="toggleSideMenu()">
        <i class="iconify text-lg" data-icon="ep:menu"></i>
      </button>

      <app-theme-selection />
    </article>
  </section>
</header>

<portal-side-menu
  [items]="items"
  [isOpen]="isShowSideMenu"
  (onClose)="toggleSideMenu()"
/>
