<footer id="portal-footer">
  <section class="app-container">
    <section>
      <article>
        <img
          src="/assets/images/logo-white.png"
          [routerLink]="['/']"
          alt="Mamute Studio"
        />

        <p>
          Arte que inspira, talentos que florescem; Nosso propósito é a música!
        </p>

        <portal-social-media />
      </article>

      <div>
        <h5>Mapa do site</h5>
        <a routerLink="/">Home</a>
        <a (click)="scrollToElement('home-services')">Serviços</a>
        <a (click)="scrollToElement('home-rooms')">Salas</a>
        <a (click)="scrollToElement('home-works')">Trabalhos</a>
        <a (click)="scrollToElement('home-address')">Endereço</a>
      </div>

      <div>
        <h5>Institucional</h5>
        <a routerLink="/">Sobre nós</a>
      </div>

      <div>
        <h5>Atendimento</h5>
        <a (click)="handleOpenWhatsapp()">Contato</a>
      </div>

      <div>
        <h5>Social</h5>
        @for (item of socialMediaItems; track $index) {
        <a [href]="item.link" target="_blank">{{ item.title }}</a>
        }
      </div>
    </section>

    <div>
      <h5>Desenvolvido em parceria com:</h5>
      <section>
        <a
          href="https://www.linkedin.com/in/pedro-silva-65996a181/"
          target="_blank"
        >
          Pedro Silva
        </a>
        e
        <a href="https://www.linkedin.com/in/luanhenriquens/" target="_blank">
          Luan Henrique
        </a>
      </section>
    </div>
  </section>
</footer>
