@import "variables";

#admin-side-menu {
  @apply flex flex-col gap-2 py-8 rounded-xl;
  background: $bg-secondary;

  > div {
    @apply px-5 flex items-center justify-between;

    > h2 {
      color: $primary;
      @apply truncate;
    }
  }

  > hr {
    @apply mx-5 my-2;
    border-color: $bg-primary;
  }

  > button {
  }

  > article {
    > h5 {
      @apply px-5;
      color: $apple-gray;
    }

    > section {
      @apply flex flex-col;

      > a {
        @apply w-full px-5 py-2 flex gap-2 items-center rounded-r-full text-[0.9rem];

        > span {
          @apply h-7 w-7 rounded-full flex items-center justify-center;
          background: $bg-primary;
        }

        &.active {
          color: $primary;
        }
      }
    }
  }
}
