@import "variables";

#page-nav {
  @apply flex gap-4 px-8 py-4 mb-8 items-center rounded-xl shadow-md;
  background: $bg-secondary;

  > a {
    @apply flex items-center;
    color: $primary;
  }

  > h1 {
    @apply pl-2 text-lg;
    border-left: 1px solid $placeholder;
  }

  > app-theme-selection {
    @apply ml-auto;
  }
}
