@import "variables";

#home-partner {
  > section {
    scroll-snap-type: x mandatory;
    @apply my-8 gap-8 grid grid-cols-6 items-stretch tablet:flex tablet:overflow-x-auto tablet:py-5;
  }

  > article {
    scroll-snap-align: center;
    @apply w-full flex flex-col items-center justify-center;

    > a {
      @apply underline mt-4;
      color: $primary;
    }
  }
}
