<section id="event-detail" class="app-container">
  <nav>
    <button class="btn" routerLink="/portal/eventos">
      <i class="iconify" data-icon="mingcute:left-line"></i>
      Voltar
    </button>

    <article></article>
  </nav>

  <figure [style.background-image]="'url(' + event.bannerURL + ')'"></figure>

  <section>
    <article>
      <h2>Informações</h2>

      <div>
        <i class="iconify" data-icon="ion:calendar-outline"></i>
        <span>
          <b>Data:</b>
          {{ event.date | date : "dd/MM/yyyy" }}
        </span>
      </div>

      <div>
        <i class="iconify" data-icon="teenyicons:pin-outline"></i>
        <span>
          <b>Endereço:</b>
          <a [href]="event.addressURL" target="_blank">
            {{ event.addressName }}
          </a>
        </span>
      </div>

      @if(event.streamURL) {
      <div>
        <i class="iconify" data-icon="ic:sharp-link"></i>
        <span>
          <a [href]="event.streamURL" target="_blank"> Assistir evento </a>
        </span>
      </div>
      }

      <button class="btn-primary" (click)="handleConfirmPresence()">
        Confirmar presença
      </button>
    </article>

    <div>
      <h2 class="subtitle">{{ event.title }}</h2>
      <p [innerHTML]="event.contentHTML"></p>

      <h4>Endereço</h4>
      <article #mapContainer></article>

      <h4>Patrocinadores</h4>
      <portal-partner-list [data]="partners" />
    </div>
  </section>

  @if (!!galleryImages.length) {
  <hr />

  <article>
    <h2 class="subtitle">Galeria</h2>
    <portal-gallery [data]="galleryImages" />
  </article>
  }
</section>
