@import "variables";

#admin-partner-selection {
  > h1 {
    @apply text-lg mb-4;
  }

  > section {
    // @apply grid gap-6 grid-cols-4;
    @apply grid gap-6 grid-cols-4 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2;

    > article {
      @apply rounded-2xl transition-all duration-500;
      transform: scale(0.95);
      background: $bg-secondary;
      border: 1px solid transparent;

      &:hover,
      &.active {
        transform: scale(1);
        border-color: $primary;

        button {
          color: $primary !important;
        }
      }

      > img {
        @apply w-full aspect-square rounded-t-2xl object-cover;
      }

      > section {
        @apply p-3 flex flex-col;

        > h4 {
          @apply truncate;
        }

        > small {
          color: $primary;
        }

        > button {
          @apply mt-4 mb-2 underline;
        }
      }
    }
  }
}
