@import "variables";

#home-hero {
  @apply h-[700px] w-full relative tablet:h-auto;
  padding-top: $portal-header-page-padding;
  color: $white;

  > video,
  > article {
    @apply absolute top-0 left-0 h-full w-screen object-cover z-[-2];
  }

  > article {
    @apply z-[-1];
    box-shadow: inset 0px -68px 40px -20px $bg-primary,
      inset 200vw 200vw 200vw 200vw rgba(254, 99, 3, 0.5803921569);
  }

  > section {
    @apply h-full pb-20 grid grid-cols-2 gap-4 items-center tablet:justify-items-center tablet:grid-cols-1;

    > article {
      > h1 {
        @apply text-xl mb-6 font-semibold;
      }

      > p {
        @apply mb-4;
      }
    }

    > img {
      @apply tablet:w-3/5;
    }
  }
}
