<section id="home-hero">
  <article></article>

  <section class="app-container">
    <article>
      <h1>Sobre nós</h1>

      <p>
        Bem-vindo ao MamuteStudio, onde o conforto e a qualidade se encontram.
        Reúna sua banda ou amigos para ensaios, gravações ou simplesmente para
        curtir música. Com duas salas de ensaio e uma área técnica equipada,
        oferecemos o ambiente ideal.
      </p>

      <p>
        O layout foi projetado para otimizar a sonoridade, garantindo a melhor
        performance individual ou em grupo.
      </p>

      <p>Acompanhe também em nossas redes sociais</p>

      <portal-social-media />
    </article>

    <!-- <img src="/assets/images/logo.png" alt="MamuteStudio" /> -->
  </section>
</section>
