<section id="home-hero">
  <article></article>

  <video autoplay muted loop playsinline>
    <source src="/assets/videos/apc-loop.mp4" type="video/mp4" />
  </video>

  <section class="app-container">
    <article>
      <h1>Sobre nós</h1>

      <p>
        O Instituto Apocalipse teve início no ano de 2012, seu principal
        objetivo é promover iniciativas de participação solidária coltada para a
        superação da pobreza e da inclusão social, promovendo ações para
        desenvolvimento social de grupo mais vulneráveis da população.
      </p>

      <p>
        Temos o apoio de parceiros em toda a região do Alto Tietê, os quais
        também contribuem no evangelismo e no campo espiritual daqueles que
        buscam a Deus.
      </p>

      <p>Acompanhe também em nossas redes sociais</p>

      <portal-social-media />
    </article>

    <img src="/assets/images/logo-white.png" alt="Instituto Apocalipse" />
  </section>
</section>
