<section id="components" class="app-container">
  <page-nav backRoute="/" title="Components" />

  <mat-tab-group>
    <mat-tab label="Form Generator">
      <section class="form-generator-container">
        <app-form-generator
          watchValues
          mobileColumn
          actionPositionX="left"
          actionPositionY="bottom"
          [fields]="formExample.fields"
          (onSubmit)="onSubmit($event)"
          [formGroup]="formExample.group"
          (onValueChanges)="onValueChange($event)"
        />

        <app-terminal-window [content]="formValue | json" />
      </section>
    </mat-tab>

    <mat-tab label="Form">
      <app-form-example />
    </mat-tab>

    <mat-tab label="Table">
      <app-table
        title="Table Example"
        actionMenuMode
        [data]="tableData"
        [columns]="tableColumns"
        [actions]="tableActions"
        [pagination]="pagination"
        (onSortChange)="onSortChange($event)"
        (onPaginationChange)="onPaginationChange($event)"
      >
      </app-table>
    </mat-tab>
  </mat-tab-group>
</section>
