<section id="components" class="app-container">
  <nav>
    <a [routerLink]="['/']">Voltar</a>
    <h1>Components</h1>

    <app-theme-selection />
  </nav>

  <mat-tab-group>
    <mat-tab label="Form"> <app-form-example /> </mat-tab>

    <mat-tab label="Form Generator">
      <section class="form-generator-container">
        <app-form-generator
          (onValueChanges)="onValueChange($event)"
          [fields]="formExample.fields"
          (onSubmit)="onSubmit($event)"
          actionPositionY="bottom"
          actionPositionX="left"
          mobileColumn
          watchValues
        />

        <app-terminal-window [content]="formValue | json" />
      </section>
    </mat-tab>
  </mat-tab-group>
</section>
