<section id="prayer-wall" class="app-container">
  <nav>
    <div>
      <h1 class="portal__title">Mural de oração</h1>
      <p>
        Aqui você deposita as suas orações e ajuda também em oração os seus
        irmãos.
      </p>
    </div>

    <button class="btn-primary" (click)="handleRequestPray()">
      Fazer um pedido
      <i class="iconify" data-icon="ph:hands-praying-light"></i>
    </button>
  </nav>

  <form>
    <app-select
      label="Motivo"
      name="category"
      [items]="categoryOptions"
      [(ngModel)]="filter.category"
      [initialValue]="filter.category"
    />

    <app-datepicker
      range
      name="date"
      label="Período"
      [(ngModel)]="filter.date"
      [initialValue]="filter.date"
    />

    <button class="btn-primary" (click)="handleFilter()">Filtrar</button>
    <button class="btn" (click)="handleClearFilter()">limpar</button>
  </form>

  @if (!prayers.length) {
  <app-empty-list />
  }

  <section>
    @for (item of prayers; track $index) {
    <portal-card-prayer
      [data]="item"
      [isPraying]="userLoggedPrayingItems.includes(item.id || '')"
      (onPrayingToggle)="handleTogglePray(item, $event)"
    />
    }
  </section>
</section>
