<section id="features" class="app-container">
  <page-nav backRoute="/" title="Features" />

  <h4>Simple store</h4>
  <store-counter-example />

  <h4>Components</h4>
  <mat-tab-group>
    <mat-tab label="Form Generator">
      <form-generator-example />
    </mat-tab>

    <mat-tab label="Form Fields">
      <app-form-example />
    </mat-tab>

    <mat-tab label="Table">
      <table-example />
    </mat-tab>

    <mat-tab label="Firebase">
      <firebase-example />
    </mat-tab>

    <mat-tab label="Firebase Storage">
      <firebase-storage-example />
    </mat-tab>
  </mat-tab-group>
</section>
