<section id="features" class="app-container">
  <page-nav backRoute="/" title="Features" />

  <section>
    <aside>
      <app-side-menu />
    </aside>
    <main>
      <router-outlet />

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <i class="iconify" data-icon="ph:plus-bold"></i>
      </button>

      <mat-menu #menu="matMenu" class="tablet:w-[340px]">
        <app-side-menu />
      </mat-menu>
    </main>
  </section>
</section>
