@function generate-color-palette($color, $base: 500) {
  $palette: ();

  @for $i from 50 through 900 {
    $palette: map-merge(
      $palette,
      (
        $i: $color,
      )
    );
    @if $i == $base {
      $base: $base + 100;
    }
  }

  $contrast-palette: ();
  @for $i from 50 through 900 {
    $contrast-palette: map-merge(
      $contrast-palette,
      (
        $i: if(lightness($color) > 50, #000, #fff),
      )
    );
  }

  $palette: map-merge(
    $palette,
    (
      contrast: $contrast-palette,
    )
  );

  @return $palette;
}
