@if(isOpen) {
<section
  animate
  id="portal-side-menu"
  class="app-container"
  animation="animate__fadeIn"
>
  <button (click)="handleClose()">
    <i class="iconify" data-icon="mingcute:close-fill"></i>
  </button>

  <img
    src="/assets/images/logo-white.png"
    alt="Instituto Apocalipse"
    (click)="handleClose()"
    [routerLink]="['/']"
  />

  <article>
    @for (item of items; track $index) {
    <a [routerLink]="[item.route]" (click)="handleClose()">{{ item.title }}</a>
    } @if(!authStore.isLogged()) {
    <button class="btn-primary w-full" (click)="openModalLogin()">
      Entrar
    </button>
    }

    <app-theme-selection />
  </article>
</section>
}
