<section id="home-event" class="app-container">
  <h1 class="portal__title">Eventos</h1>
  <p class="mb-8">Saiba sobre tudo que está por vir aqui!</p>

  @if(!highlight?.id && !events.length) {
  <p>- Sem eventos no momento, continue por dentro -</p>
  } @if(!!highlight.id) {
  <portal-highlight-card
    [title]="highlight.title"
    [background]="highlight.bannerURL"
    [description]="highlight.shortDescription"
    [route]="'portal/eventos/' + highlight.id"
    [badge]="highlight.dateReleaseStream | date : 'dd/MM/yyyy'"
  />
  } @if (!!events.length) {
  <section>
    @for (item of events; track $index) {
    <portal-card
      [title]="item.title"
      [background]="item.bannerURL || ''"
      [route]="'/portal/eventos/' + item.id"
      [description]="item.shortDescription || ''"
      [badge]="item.dateReleaseStream | date : 'dd/MM/yyyy'"
    />
    } @if(events.length>3) {
    <portal-card-redirect-detail route="/portal/eventos" />
    }
  </section>
  }
</section>
