<section id="home">
  <div class="app-container">
    <figure>
      <img src="favicon.ico" alt="ANGULAR" />
    </figure>

    <h1>Angular boilerplate</h1>

    <div>
      <a class="btn-primary" [routerLink]="['/features/form-generator']"
        >Features</a
      >
    </div>

    <section>
      <app-terminal-window
        class="mb-6"
        [content]="gitClone"
        title="Clone project"
      />

      <app-terminal-window title="Initialize project" [content]="initProject" />
      <app-terminal-window
        title="Initialize storybook"
        [content]="initProjectStorybook"
      />
    </section>
  </div>
</section>
