@import "variables";

#page-nav {
  @apply flex gap-4 px-8 py-4 mb-8 items-center rounded-xl mobile:flex-wrap;
  background: $bg-secondary;

  > a {
    @apply pr-2 flex items-center;
    color: $primary;
    border-right: 1px solid $placeholder;
  }

  > h1 {
    @apply text-lg;
  }

  > section {
    @apply ml-auto mobile:m-auto;
  }
}
