$primary-palette: (
  50: #ffece0,
  100: #ffd0b3,
  200: #ffb180,
  300: #ff914d,
  400: #ff7a26,
  500: #ff6200,
  600: #ff5a00,
  700: #ff5000,
  800: #ff4600,
  900: #ff3400,
  A100: #ffffff,
  A200: #fff4f2,
  A400: #ffc9bf,
  A700: #ffb3a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
