$primary-palette: (
  50: #e1e8f1,
  100: #b3c5dc,
  200: #819fc5,
  300: #4f78ad,
  400: #295b9c,
  500: #033e8a,
  600: #033882,
  700: #023077,
  800: #02286d,
  900: #011b5a,
  A100: #8ba3ff,
  A200: #587aff,
  A400: #2551ff,
  A700: #0c3dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
