$secondary-palette: (
  50: #fff6e0,
  100: #ffe9b3,
  200: #ffdb80,
  300: #ffcd4d,
  400: #ffc226,
  500: #ffb700,
  600: #ffb000,
  700: #ffa700,
  800: #ff9f00,
  900: #ff9000,
  A100: #ffffff,
  A200: #fff9f2,
  A400: #ffe0bf,
  A700: #ffd4a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
