$secondary-palette: (
  50: #e3eef4,
  100: #bad4e4,
  200: #8cb7d2,
  300: #5d9abf,
  400: #3b84b2,
  500: #186ea4,
  600: #15669c,
  700: #115b92,
  800: #0e5189,
  900: #083f78,
  A100: #a7ceff,
  A200: #74b1ff,
  A400: #4194ff,
  A700: #2886ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
