<section id="news-register">
  <app-page-nav backRoute="/admin/news" [title]="pageTitle()" />

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Notícia">
      <app-form-generator
        mobileColumn
        id="event-register"
        submitText="Salvar"
        actionPositionX="right"
        [fields]="form.fields"
        [formGroup]="form.group"
        (onSubmit)="handleSubmit($event)"
      />
    </mat-tab>
    <mat-tab label="Patrocinadores" [disabled]="isNew()">
      @defer (on viewport; prefetch on idle) {
      <admin-partner-selection
        [selectedIds]="news.partners"
        (onChange)="handlePartnerChange($event)"
      />
      } @placeholder {
      <div></div>
      }
    </mat-tab>
    <mat-tab label="Galeria" [disabled]="isNew()">
      <admin-gallery-register
        [path]="galleryPath"
        [images]="news.images"
        (onChange)="handleGalleryChange($event)"
      />
    </mat-tab>
  </mat-tab-group>
</section>
