<section id="home-news" class="app-container">
  <h1 class="portal__title">Notícias</h1>
  <p>Fique por dentro das principais noticias da região</p>

  @if(!highlight?.id || !news.length) {
  <p>- Sem notícias no momento, continue por dentro -</p>
  } @else{
  <section>
    <portal-highlight-card
      heightFull
      [title]="highlight.title"
      [background]="highlight.bannerURL"
      [description]="highlight.shortDescription"
      [route]="'portal/noticias/' + highlight.id"
      [badge]="highlight.creationDate | date : 'dd/MM/yyyy'"
    />

    <article>
      @for (item of news; track $index) {
      <portal-card
        [title]="item.title"
        [background]="item.bannerURL || ''"
        [route]="'/portal/noticias/' + item.id"
        [description]="item.shortDescription || ''"
        [badge]="item.creationDate | date : 'dd/MM/yyyy'"
      />
      } @if(news.length>3) {
      <portal-card-redirect-detail route="/portal/news" />
      }
    </article>
  </section>
  }
</section>
