<section id="form-controls">
  <app-terminal-window [content]="form | json" />

  <form class="pt-8">
    <app-input
      name="input"
      label="Input"
      className="w-full"
      [(ngModel)]="form.input"
      [initialValue]="form.input"
    />

    <app-datepicker
      name="datepicker"
      label="Datepicker"
      className="w-full"
      [(ngModel)]="form.datepicker"
      [initialValue]="form.datepicker"
    />

    <app-datepicker
      range
      className="w-full"
      name="datepickerRange"
      label="Datepicker Range"
      [(ngModel)]="form.datepickerRange"
      [initialValue]="form.datepickerRange"
    />

    <app-select
      name="select"
      label="Select"
      className="w-full"
      [items]="defaultOptions"
      [(ngModel)]="form.select"
      [initialValue]="form.select"
    />

    <app-textarea
      name="textarea"
      label="Textarea"
      className="w-full"
      [(ngModel)]="form.textarea"
      [initialValue]="form.textarea"
    />

    <app-radio-button
      name="radio"
      label="Radio"
      [items]="defaultOptions"
      [(ngModel)]="form.radio"
      [initialValue]="form.radio"
    />

    <app-slider
      [min]="0"
      [max]="10"
      [step]="1"
      showTickMarks
      name="slider"
      label="Slider"
      [(ngModel)]="form.slider"
      [initialValue]="form.slider"
    />

    <app-slider
      range
      [min]="0"
      [max]="10"
      [step]="1"
      name="sliderRange"
      label="Slider Range"
      [(ngModel)]="form.sliderRange"
      [initialValue]="form.sliderRange"
    />

    <app-image-cropper
      name="imageCropper"
      [(ngModel)]="form.imageCropper"
      [initialValue]="form.imageCropper"
    />

    <app-file-upload
      [maxFiles]="5"
      name="fileUpload"
      label="File upload"
      [fileTypes]="['image/*']"
      placeholder="Insert fles"
      [(ngModel)]="form.fileUpload"
      [initialValue]="form.fileUpload"
    />

    <app-text-editor
      name="textEditor"
      className="w-full"
      label="Text editor"
      [(ngModel)]="form.textEditor"
      [initialValue]="form.textEditor"
    />

    <app-checkbox
      name="Checkbox"
      label="Checkbox"
      [(ngModel)]="form.checkbox"
      [initialValue]="form.checkbox"
    />

    <button class="btn-primary my-4" type="button" (click)="onSubmit()">
      Submit
    </button>
  </form>
</section>
